<div class="ui internally grid">

  <div class="row">
    <div class="one wide column"></div>
    <div class="fourteen wide column">
      <app-profile-header [statistics]="statistics" [personal]="personal" [summary]="summary"></app-profile-header>
    </div>
    <div class="one wide column"></div>
  </div>

  <div class="row">
    <div class="one wide column"></div>
    <div class="fourteen wide column">
      <app-certifications [certifications]="certifications"></app-certifications>
    </div>
    <div class="one wide column"></div>
  </div>

  <div class="row">
    <div class="one wide column"></div>
    <div class="fourteen wide column">
      <app-experience [experience]="experience"></app-experience>
    </div>
    <div class="one wide column"></div>
  </div>

  <div class="row">
    <div class="one wide column"></div>
    <div class="fourteen wide column">
      <app-tech-skills [skills]="technicalSkills"></app-tech-skills>
    </div>
    <div class="one wide column"></div>
  </div>

  <div class="row">
    <div class="one wide column"></div>
    <div class="fourteen wide column">
      <app-projects [projects]="projects"></app-projects>
    </div>
    <div class="one wide column"></div>
  </div>
  
  <div class="row">
    <div class="one wide column"></div>
    <div class="fourteen wide column">
      <app-education [education]="education"></app-education>
    </div>
    <div class="one wide column"></div>
  </div>

  <div class="row">
    <div class="one wide column"></div>
    <div class="fourteen wide column">
      <app-other-certifications [otherCertifications]="otherCertifications"></app-other-certifications>
    </div>
    <div class="one wide column"></div>
  </div>

</div>